<div class="container">
<mat-card>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
<div>
  <h1>Trainer Information</h1>
</div>
  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input type="text" class="form-control" formControlName="firstName" id="firstName" aria-describedby="firstName" placeholder="Enter First Name">
  </div>

  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input type="text" class="form-control" formControlName="lastName" id="lastName" aria-describedby="lastName" placeholder="Enter Last Name">
  </div>

  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" readonly class="form-control" formControlName="username" id="username" aria-describedby="username" placeholder="Enter Username">
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" formControlName="password" id="password" aria-describedby="password" placeholder="Enter password">
  </div>


  <button type="submit" mat-raised-button color="primary">Update Info</button>
</form>

<hr>

<p>
  Form Value: {{ profileForm.value | json }}
</p>


<p>
  Form Status: {{ profileForm.status }}
</p>

<p>
  <button (click)="updateProfile()">Update Profile</button>
</p>

</mat-card>
</div>
