a{
  color: white;
  text-decoration: none;
}

a:link{
  color: white;
}

button{
  padding: 2em;
}

h1,h2{
  text-align: center;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
